<% if @notice %>
  <div class="err" >
    <% @notice.each do |error| %> 
       <%= ". #{error}" %><br>
    <% end %>
  </div><br>
  <% end %>

<%= form_tag @path,  {method: :post} do %>
  

  <h2 style="margin-bottom: 15px; margin-top: 0">Edit Cleaner</h2>

  <%= label_tag 'Fname:' %><br>
  <%= text_field_tag 'user[fname]' %><br><br>

  <%= label_tag 'Lname:' %><br>
  <%= text_field_tag 'user[lname]' %><br><br>

  <%= label_tag 'Email:' %><br>
  <%= text_field_tag 'user[email]' %> 

  <br><br><%= submit_tag :Edit %><br><br>

  <%= link_to '. edit password', cleaner_edit_password_path, class: :simple_link %><br>

  <%= link_to '. edit cities', cleaner_edit_city_path, class: :simple_link %>

<% end %>  





