

<% if @notice %>
  <% @notice.each do |err| %>
    <p style="color: red"><%= err %></p><br>
  <% end %>
<% end %>

<%= form_tag cleaner_edit_password_path do %>
<h2 style="margin-bottom: 15px; margin-top: 0">Edit Password</h2>
 <%= label_tag 'Old pasword:' %><br>
  <%= text_field_tag 'pass[old]', nil, type: :password %><br><br>

  <%= label_tag 'New password:' %><br>
  <%= text_field_tag 'pass[new]', nil, type: :password %><br><br>

  <%= label_tag 'Repeat password:' %><br>
  <%= text_field_tag 'pass[repeat]', nil, type: :password %><br><br>  

  <%= submit_tag :Edit %><br>

<% end %> 