


<%= form_tag @path do %>
  
    <h1 ><%= @form_title %></h1>
    <%= label_tag 'Email:' %>
    <%= text_field_tag 'email' %>

    <%= label_tag 'Password:' %>
    <%= text_field_tag 'password', nil, type: :password %>

    <%= submit_tag 'Login', class: :btn %>

    <% if @notice %>

  <div class="err">
    <%= "#{@notice}" %> 
  </div><br>
  
<% end %> 

  
<% end %>


