
<div>
  <% if @notice %>
    <% @notice.each do |error| %> 
      <%= error %>
    <% end %>
  <% end %>
</div>

<%= form_tag @path,  {method: :post} do %>

  <%= label_tag :Fname %>
  <%= text_field_tag 'user[fname]' %><br><br>

  <%= label_tag :Lname %>
  <%= text_field_tag 'user[lname]' %><br><br>

  <%= label_tag :Email %>
  <%= text_field_tag 'user[email]' %><br><br>

  <%= label_tag :Password %>
  <%= text_field_tag 'user[password]', nil,  type: :password %><br><br>

  <% if @cleaner %>
    <h2>Activity</h2>
    <% @cities.each do |city| %>
      <%= label_tag city.name, nil, class: :line %>
      <%= check_box_tag 'city_ids[]', city.id %><br><br>
    <% end %>
  <% end %>

  <%= submit_tag :Registration %><br>

<% end %> 
