
   

    <%= form_tag client_booking_check_cleaner_path, method: :post do %>
    <h1>Booking</h1>
      
      <%= label_tag 'Check city:', nil, class: :lab %>
      <%= select_tag 'city', options_for_select(@options), class: :sel %> 
      <%= label_tag 'Input date:' %>
      <%= text_field_tag 'date' %> 
      <%= submit_tag 'Check Cleaner' %>  

      <% if @notice %>
        <div class="err">
          <% @notice.each do |err|%>
            <%= err %><br>
          <% end %>
        </div>
      <% end %>

    <% end %>
    
    
    
  

  
