<h1 style="margin-bottom: 40px">Booking</h1>

    
    <%= form_tag client_booking_check_cleaner_path, method: :post do %> 
      <%= label_tag 'Check city', nil, class: :line %>
      <%= select_tag 'city', options_for_select(@options) %> <br><br>
      <%= label_tag 'Input date' %>
      <%= text_field_tag 'date' %><br><br> 
      <%= submit_tag 'Check Cleaner' %>
    <% end %><br>
    
    <%= link_to 'Back', client_page_path %>
    
    
  

  
