<h1>Booking List</h1>

<% @bookings.each do |booking| %>
  <hr>
  <h3>Client</h3>
  <p>client name: <%= booking.client.fname %>
  <p>client surname: <%= booking.client.lname %></p>
  <p>client email: <%= booking.client.email %></p><br>
  <h3>Cleaner</h3>
  <p>cleaner name: <%= booking.cleaner.fname %></p>
  <p>cleaner surname: <%= booking.cleaner.lname %></p>
  <p>cleaner email: <%= booking.cleaner.email %></p><br>
  <h3>Date</h3>
  <p>year: <%= booking.date.year %></p>
  <p>month: <%= booking.date.month %></p>
  <p>day: <%= booking.date.day %></p>
  
  <hr>
<% end %>

<%= link_to 'Back', bookings_path %>
