


<%= form_tag client_edit_path do %>

  <h2>Edit Client</h2>

  <%= label_tag 'Fname:' %>
  
  <%= text_field_tag 'user[fname]' %>

  <%= label_tag 'Lname:' %>
  <%= text_field_tag 'user[lname]' %>

  <%= label_tag 'Email:' %>

  <%= text_field_tag 'user[email]' %>


  <%= submit_tag :Edit, class: :btn%> 

  <% if @notice %>
    <div class="err">
      <% @notice.each do |error| %> 
        <%= ". #{error}" %><br>  
      <% end %>
    </div>
  <% end %>

  <%= link_to 'edit password', client_edit_password_path, class: :simple_link %>


<% end %> 
