



<%= form_tag client_edit_password_path do %>

 <h2 style="margin-bottom: 15px; margin-top: 0">Edit Password</h2>
 
  <%= label_tag 'Old Pasword:' %>
  <%= text_field_tag 'pass[old]' %>

  <%= label_tag 'New Password:' %>
  <%= text_field_tag 'pass[new]' %>

  <%= label_tag 'Repeat Password:' %>
  <%= text_field_tag 'pass[repeat]' %>

  <%= submit_tag :Edit, class: :btn %> 

  <% if @notice %>
    <div class="err">
      <% @notice.each do |err| %>
        <%= ". #{err}" %><br>
      <% end %>
    </div>
  <% end %>

<% end %> 