<h1>Client: <%= @client.fname + " " + @client.lname%></h1>

<%= link_to "logout", logout_client_path, class: :m %>

<%= link_to "booking", client_booking_path, class: :m  %>

<%=  link_to "my bookings", client_bookings_path, method: :get, class: :m  %>

<%=  link_to "edit", client_edit_path, method: :get, class: :m  %> 

<%=  link_to "destroy", client_delete_path, method: :delete, class: :m  %> 







